<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-transparent fixed-top">
  <div class="container-fluid actNav">
    <a class="navbar-brand addshade" id="prevPgBtn" href="javascript:javascript:history.go(-1)">Prev Page</a>
    <a class="navbar-brand" href="#"></a>
    <a class="navbar-brand" href="#"></a>
    <a class="navbar-brand" href="#"></a>
    <a class="navbar-brand" id="logoutBtn" href="#">
      <a class="navbar-brand addshade" id="logoutBtn" href="/logout">Log Out</a>
    </a>
  </div>
</nav>
<div>
  <a class="text-center" href="/members">
    <img src="/img/stay-in-logo.png" class="headerActLogo" />
  </a>
</div>
<div class="w-100 actBG">
  <img src="/img/boardgame-main.jpg" class="mainBGpic" />
  <div class="act-text-block">
    <div class="row">
      <div class="text-center ActChoiceCont">
        <img src="/img/si-bg-icon.png" class="text-center mt-3 mb-3 actIcon" /><br />
        <h4 class="text-center mt-2 addshade d-none">Welcome <span data-id="" class="member-name d-none"></span></h4>

        {{!-- Add a game --}}
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-info mt-0" data-toggle="modal" data-target="#addBGModalCenter">
          <span><i class="fas fa-dice"></i></span> Add a game
        </button><br />
        <!-- Modal -->
        <div class="modal fade" id="addBGModalCenter" tabindex="-1" role="dialog"
          aria-labelledby="addBGModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header bg-info">
                <h5 class="modal-title" id="addBGModalLongTitle">Add a Board Game</h5>
                <button type="button" class="btn-close btn-close-white" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true"></span>
                </button>
              </div>
              <div class="modal-body">

                {{!-- Add Activity Form --}}
                <form class="addBG">
                  <div class="form-group">
                    <label for="addBG" class="text-dark">Board Game Title:</label>
                    <input type="text" id="addBG" name="name">
                    <input type="hidden" name="played" value="0">
                  </div>
                  <button class="btn btn-warning text-light mt-1" id="addBGBtn">Add your game</button>
                </form>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        {{!-- View Game List --}}
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-info mt-1" id="BGlistBtn" data-toggle="modal" data-target="#BGListModal">
          <span><i class="fas fa-list"></i></span> View your game list
        </button><br />
        <!-- Modal -->
        <div class="modal fade" id="BGListModal" tabindex="-1" role="dialog" aria-labelledby="BGListModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header bg-info">
                <h5 class="modal-title" id="BGListModalLabel">Game List</h5>
                <button type="button" class="btn-close btn-close-white" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true"></span>
                </button>
              </div>
              <div class="modal-body">

                <h4 class="text-dark">Game List</h4>
                <ul class="list-group watchlist-group">
                  {{#each boardgames}}
                  {{#unless this.played}}
                  <li class="text-dark list-group-item watchlist-item"><strong>
                      {{> bg/bg-block played=false}}
                  </li></strong>
                  {{/unless}}
                  {{/each}}
                </ul>

                <h4 class="text-dark mt-2">Already played</h4>
                <ul class="list-group watchlist-group">
                  {{#each boardgames}}
                  {{#if this.played}}
                  <li class="text-dark list-group-item watchlist-item"><strong>
                      {{> bg/bg-block played=true}}
                  </li></strong>
                  {{/if}}
                  {{/each}}
                </ul>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        {{!-- Decide a Game For Me --}}
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-info mt-1 mb-4" data-toggle="modal" data-target="#decideModal">
          <span><i class="fas fa-dice"></i></span> Decide a game for me!</button>

        <!-- Modal -->
        <div class="modal fade" id="decideModal" tabindex="-1" role="dialog" aria-labelledby="decidedLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header bg-info">
                <h5 class="modal-title" id="decidedLabel">Our Pick For You</h5>
                <button type="button" class="btn-close btn-close-white" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true"></span>
                </button>
              </div>
              <div class="modal-body" id="decidedBody">
                <h1 id="decidedbG">Game Title</h1>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.row -->
  </div><!-- /.text block -->
</div><!-- /.w-100 -->