<div class="container">

    <div class="jumbotron bg-dark">

        <div class="d-flex justify-content-center">
            <img src="stay-in-logo.png" /><br>
        </div>

        <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-primary" id="startLoginBtn">Login</button><br>
            <button type="button" class="btn btn-primary" id="startSignUpBtn">Sign Up</button>
        </div>

    </div>

</div>