<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h2>Welcome <span class="member-name"></span></h2>
        </div>
    </div>
</div>

<div class="box">
    <h1>What would you like to do?</h1>
    <a href="/movies"><button type="button" class="btn btn-primary" id="movieBtn">Watch a Movie</button></a>
    <a href="/cooking"><button type="button" class="btn btn-primary" id="cookBtn">Cook a Meal</button></a>
    <a href="/videogames"><button type="button" class="btn btn-primary" id="videoBtn">Play a Video Game</button></a>
    <a href="/boardgames"><button type="button" class="btn btn-primary" id="boardBtn">Play a Board Game</button></a>
    <a href="/decideall"><button type="button" class="btn btn-primary" id="decideAnyBtn">Decide For Me</button></a>
</div>