<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="">
                Logout
            </a>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h2>Welcome <span class="member-name"></span></h2>
        </div>
    </div>
</div>
<div class="box">
    <h1>What would you like to do?</h1>
    <button type="button" class="btn btn-primary" id="moviesBtn" href="/movies">Watch a Movie</button>
    <button type="button" class="btn btn-primary" id="cookBtn" href="/cooking">Cook a Meal</button>
    <button type="button" class="btn btn-primary" id="videoBtn" href="/videogames">Play a Video Game</button>
    <button type="button" class="btn btn-primary" id="boardBtn" href="/boardgames">Play a Board Game</button>
    <button type="button" class="btn btn-primary" id="decideAnyBtn" href="/decideall">Decide For Me</button>
</div>