<div class="row">
    
    {{!-- Add Video Game Form --}}
    <div class="col-md-8 mt-4 justify-content-md-center">
      <h3>Add a Game to the list:</h3>
        <form class="addVG">
            <div class="form-group">
                <label for="addVG">Title of Video Game:</label>
                <input type="text" id="addVG" name="name">
                <input type="hidden" name="playedVG" value="0">
            </div>

            <button class="btn btn-secondary mt-1" id="addVGBtn">Add your game!</button>
        </form>
        <button class="btn btn-primary mt-1" id="decideVGBtn">Decide a game for me!</button>
    </div>

    
  </div>