<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-transparent fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand addshade" id="prevPgBtn" href="javascript:javascript:history.go(-1)">Previous Page</a>
    <a class="navbar-brand" href="#"></a>
    <a class="text-center navBrandLogo" href="/members">
        <img src="/img/stay-in-logo.png" class="addshade" id="headerLogo" />
    </a>
    <a class="navbar-brand" href="#"></a>
    <a class="navbar-brand" href="#">
      <a class="navbar-brand addshade" id="logoutBtn" href="/logout">Log Out</a>
    </a>
  </div>
</nav>

<div class="w-100">
  <img src="/img/videogames-bg.png" id="mainBGpic" />
  <div class="text-block">
<div class="row">
    
    {{!-- Add Video Game Form --}}
    <div class="col-md-12 mt-4 text-center">
      <h3 class="addshade">Add a Game to the list:</h3>
        <form class="addVG">
            <div class="form-group">
                <label for="addVG">Title of Video Game:</label>
                <input type="text" id="addVG" name="name">
                <input type="hidden" name="playedVG" value="0">
            </div><!-- /.form-group -->

            <button class="btn btn-secondary mt-1" id="addVGBtn">Add your game!</button>
        </form>
        <button class="btn btn-primary mt-1" id="decideVGBtn">Decide a game for me!</button>
    </div><!-- /.column -->

</div><!-- /.row -->
</div><!-- /.text-block -->
</div><!-- /.w-100 -->