* {
  margin: 0;
  padding: 0;
}

/* =============== Credential Pages =============== */
form.signup,
form.login {
  margin-top: 20px;
}

#email-input {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 5px solid #04a3ff;
}

#password-input {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 5px solid #04a3ff;
}

#credLogo {
  width: 50%;
  height: auto;
}

/* =============== Members Page =============== */
.mainBtn {
  margin-top: 2px;
  margin-bottom: 2px;
  width: 3.5in;
}

/* =============== Carousel =============== */
.active > img {
  margin: 0 auto;
  margin-top: 2rem;
}
#main-carousel{
  margin: 0 auto;
  max-width: 250px;
  max-height: 500px;
}
.carousel-item{
transition: transform .002s ease, opacity .1s  step-end;
}


.addwatchlist {
  margin: 0 auto;
  align-content: center;
  float: inline-start;
  width: 100%;
}

#headerLogo {
  width: 20%;
  height: auto;
}



.container {
  position: relative;
}

.text-block {
  position: absolute;
  left: 50px;
  right: 50px;
  top: 100px;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.btn-primary {
  width: 400px;
  height: auto;
  background-color: red;
}

#logoutBtn, #prevPgBtn {
  color: white;
}

.addshade {
  text-shadow: 2px 2px 5px black;
}

.navBrandLogo {
  position: relative;
  left: 55px;
  width: 40%;
  height: auto;
}

.stayBlueBG {
  color: rgb(4, 163, 255);
  background-color: rgb(4, 163, 255);
  border-color: rgb(4, 163, 255);
}

.credCont {
  background-color: rgba(0, 0, 0, 0.658);
  width: 600px;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.548);
}

.mainCont {
  background-color: rgba(0, 0, 0, 0.658);
  width: 600px;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.548);
}

/* =============== Background Image =============== */
.mainBGpic {
  width: 100%;
  height: auto;
  max-height: 100vh;
  object-fit: cover;
}

/* =============== Error Message =============== */
#alert {
  height: 20px;
  margin-top: 1em;
  color: white !important;
  background-color: transparent !important;
  border-color: transparent;
}

.msg {
  position: absolute;
  top: 5px;
  left: auto;
  right: auto;
  color: yellow !important;
}

/* =============== Links =============== */
a:link {
  text-decoration: none;
}

/* =============== Make Blue =============== */
.text-info {
  color: #04a3ff !important;
}

.makeBlueText {
  color: #04a3ff !important;
}

.btn-info{
 
  background-color: #04a3ff !important;
   
  color:#FFF;
   
  border-color: #024870 !important;
   
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
  background-color:#024870 !important;
     
  color:#FFF;
     
  border-color: #01283f !important;
     
}