form.signup,
form.login {
  margin-top: 50px;
}

.mainBtn {
  margin-top: 2px;
  margin-bottom: 2px;
  width: 3.5in;
}

.jumbotron {
  background-color: black;   
}
.active > img {
  margin: 0 auto;
  margin-top: 2rem;
}
#main-carousel{
  margin: 0 auto;
  max-width: 250px;
  max-height: 500px;
}
.carousel-item{
transition: transform .002s ease, opacity .1s  step-end;
}
.addwatchlist {
  margin: 0 auto;
  align-content: center;
  float: inline-start;
}